<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Links</title>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <% const days = ["sun", "mon", "tue", "wed", "thu", "fri", "sat"]; %>
    <% const mainDate = new Date(`2025-${+datemonth || 01}-${+datenum || 01}`) %>
    
    <%- include('partials/navigationBar') %>

    <main class="reservationsList">
        <section class="calendarContainer">
            <section class="calendarHeader">
                <h1 class='calendarTitle'>WEEKLY SCHEDULE</h1>
                <section class='monthDays'>
                    <% const daysInMonth = new Date(2025, +datemonth+1, 0).getDate(); %>
                    <ul>
                        <% for(let i=1; i<=daysInMonth; i++){%>
                            <% let obj = reservationList.find(o => `${o.date.getMonth()}-${o.date.getDate()}` === `${+datemonth}-${i}`) %>
                            <% if(obj){%>
                                <li class="<%= +datenum === i ? 'active' : ''  %> <%= 'highlight' %>"><a href="?datenum=<%= i %>&datemonth=<%= datemonth %>"><%= i %></a></li>
                            <% }else{ %>
                                <li class="<%= +datenum === i ? 'active' : ''  %>"><a href="?datenum=<%= i %>&datemonth=<%= datemonth %>"><%= i %></a></li>
                            <% } %>
                        <%}%>
                    </ul>
                </section>
            </section>
            
            <section class="calendarBody">
                <section class='monthNames'>
                    <ul>
                        <% for(let i=0; i<12; i++){%>
                            <% let date = new Date() %>
                            <% date.setMonth(i) %>
                            <% let obj = reservationList.find(o => o.date.getMonth() === date.getMonth()) %>
                            <% if(obj){%>
                                <li class="<%= +datemonth === i ? 'active' : ''  %> <%= 'highlight' %>"><a href="?datenum=<%= datenum %>&datemonth=<%= date.getMonth() %>"><%= date.toLocaleString('en-US', { month: 'short' }) %></a></li>
                            <% }else{ %>
                                <li class="<%= +datemonth === i ? 'active' : ''  %>"><a href="?datenum=<%= datenum %>&datemonth=<%= date.getMonth() %>"><%= date.toLocaleString('en-US', { month: 'short' }) %></a></li>
                            <% } %>
                        <%}%>
                    </ul>
                </section>

                <section class="dateContainer">
                    <% let date = mainDate %>
                    <% for(let i=0; i<=4; i++){%>
                        <section class='individualDateContainer'>
                            <section class="weekDayContainer">
                                <p><%= date.getDate() %></p>
                                <p><%= days[date.getDay()] %></p>
                            </section>
                            <section class="weekTasksContainer">
                                <% let obj = reservationList.find(o => `${o.date.getFullYear()}-${o.date.getMonth()}-${o.date.getDate()}` === `${date.getFullYear()}-${date.getMonth()+1}-${date.getDate()}`) %>
                                <% if(obj){%>
                                    <p <%= obj.reserved ? 'class=reserved' : 'class=unreserved'%>> <%= obj.date.toLocaleTimeString()  %> | <%= obj.person  %> - <%= obj.subject  %> </p>
                                <% } %>
                            </section>
                        </section>
                        <% date.setDate(date.getDate() + 1) %>
                    <%}%>
                </section>
            </section>

        </section>
    </main>
</body>
</html>