<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Dates</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <nav>
        <p>Reservando</p>
        <ul>
            <li><a href='/calendar'>calendario</a></li>
            <li><a href='/setdates'>fijar fechas</a></li>
            <li><a href='/signup/logout' class='signout'>salir</a></li>
            <li><a href='/login/configure'>configurar</a></li>
        </ul>
    </nav>
    
    <main class="bookDate">
        <% if (isFilled) { %>
            <% const currentTimeSlot = new Date(timeSlots) %>
            <section class="header">
                <h1>Cita <br /> Programado</h1>
                <h2>para <%= reservationInfo[0].name %></h2>
            </section>
            <section class="body">
                <i class="fa-regular fa-calendar-check"></i>
                <p class="topic">Tema: <%= reservationInfo[0].subject %> (con Tecnico Programa)</p>

                <section class="dateContainer">
                    <p><%= currentTimeSlot.toLocaleString('es-US', { weekday: 'short'}) %>, <%= currentTimeSlot.toLocaleString('es-US', { day: "numeric" }) %> de <%= currentTimeSlot.toLocaleString('es-US', { month: 'short' }) %> de <%= currentTimeSlot.toLocaleString('es-US', { year: "numeric" }) %></p>
                    <p><%= currentTimeSlot.toLocaleString('es-US', { timeStyle: 'short' }) %> hasta <%= new Date(currentTimeSlot.getTime() + reservationInfo[0].duration*60000).toLocaleString('es-ES', {timeStyle: 'short'}) %><%= currentTimeSlot.toLocaleString('es-ES', {hour: 'numeric', hour12: false}) > 12 ? 'pm' : 'am'  %></p>
                </section>

                <p>Gracias, su cita ha sido programado con exito.</p>

                <button>Cambiar o cancelar cita</button>
            </section>
        <% } else { %>
            
            <section class="bookHeaderContainer">
                <h1>Book a Date</h1>
                <p>In order to process your case we require an in person talk with you. Please reserve a time slot that that best fits your schedule.</p>
            </section>
            
            
            <section class="dateSliderContainer">
                

                <% const dateAdded = [] %>
                <% const selectedDate = new Date(selectedDay ?? timeSlots[0])  %>

                <h2><%= selectedDate.toLocaleString('es-US', { month: 'long'}) %></h2>
                <ul id="dateSlider" class="dateSlider">
                    <% timeSlots.forEach( (timeSlot,i) => { %>
                        <% const currentDate = new Date(timeSlot) %>
                        <% const weekNumber = currentDate.toLocaleString('es-US', { day: 'numeric'}) %>
                        <% const weekDay= currentDate.toLocaleString('es-US', { weekday: 'short'}) %>
                        <% if(!dateAdded.includes(weekNumber + ' ' + weekDay)){%>
                            <% dateAdded.push(weekNumber + ' ' + weekDay) %>
                            <% if(+currentDate === +selectedDate) { %> 
                                <li class="selected">
                                    <p><%= weekNumber %></p>
                                    <p><%= weekDay %></p></a>
                                </li>
                            <% } else { %> 
                                <li>
                                    <a href="?selectedDate=<%= currentDate %>" class="reset-a">
                                        <p><%= weekNumber %></p>
                                        <p><%= weekDay %></p>
                                    </a>
                                </li>                            
                            <% } %> 
                        <%}%>
                    <% }) %> 
                </ul>
            </section>

            <section class="timesGrid">
                <form action="../assignTimeSlot" method="POST">
                    <fieldset>
                        <% timeSlots.forEach( (timeSlot,i) => { %>
                            <% const currentDate = new Date(timeSlot).toLocaleString('es-US', { day: 'numeric'},{ month: 'short'}) %>
                            <% const selectedMonthDay = selectedDate.toLocaleString('es-US', { day: 'numeric'},{ month: 'short'}) %>

                            <% if(+currentDate === +selectedMonthDay){%>
                                <div class="timeslots">
                                    <input type="radio" <%= reserved.includes(`${new Date(timeSlot)}`) ? 'disabled' : '' %> id="timeslot<%= i %>" name="timeslot" data-id='<%= reservationInfo[0].linkId %>' value="<%= new Date(timeSlot) %>" />
                                    <label for="timeslot<%= i %>"><%= new Date(timeSlot).toLocaleTimeString([], { hour: "2-digit", minute: "2-digit" }) %></label>
                                </div>
                            <% } %>
                        <% }) %>
                        <input type="hidden" id="linkId" name="timeslot" value="<%= reservationInfo[0].linkId %>" />
                    </fieldset>
                    <button class="button">Select</button>
                </form>
            </section>

            <section class="appointmentInformation">
                <h2>Appointment Information</h2>
                <p><strong>Name:</strong> <%= reservationInfo[0].name %></p>
                <p><strong>Email:</strong> <%= reservationInfo[0].email %></p>
                <p><strong>Duration:</strong> <%= reservationInfo[0].duration %></p>
                <p><strong>Subject Matter:</strong> <%= reservationInfo[0].subject %></p>
            </section>
            
            
        <% } %>
   </main> 
    
    <script src="../../js/main.js"></script>
</body>
</html>