<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fijar Fecha</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <%- include('partials/navigationBar') %>
   
    <main class="setDateContainer">
        <header>
            <h1>Set Available Dates</h1>
        </header>
        
        <section>
            <form action="/setDates/createTimeSlot" method='POST'>
                    <div class="subFields">
                        <h3>Cliente</h3>

                        <label for='nameItem'>Nombre</label>
                        <input type="text" placeholder="Fulano de Pueblo" id='nameItem' name='nameItem'>

                        <label for='emailItem'>Correo Electronico</label>
                        <input type="text" placeholder="correo@lugar.com" id='emailItem' name='emailItem'>
                    </div>
                    
                    <div class="subFields">
                        <h3 for='appointmentDates'>Información de la Cita</h3>
                        <label for='subjectItem'>Sujeto</label>
                        <input type="text" class="longTextInput" placeholder="Discusion de Caso" id='subjectItem' name='subjectItem'> 
                    
                        <label for='locationItem'>Lugar</label>
                        <input type="text" class="longTextInput" placeholder="Salon de reunion primer piso" id='locationItem' name='locationItem'>
                    
                        <label for='durationItem'>Duración</label>
                        <input type="text" class="shortTextInput" placeholder="20" id='durationItem' name='durationItem'>
                    
                        <select name='timeframeItem'>
                            <option value='minutes'>minuto</option>
                            <option value='hours'>hora</option>
                        </select>
                    </div>
                    
                    <div id='appointmentDates' class="subFields datesSelection">
                        <h3 for='appointmentDates'>Selecione Hora y Día</h3>

                        <label for='dateItem'>Fecha</label>
                        <input type="date" id='dateItem' name='dateItem'>

                        <label for="timeItem">Hora</label>
                        <select id='hourItem' name='hourItem'>
                            <option value="">--hora--</option>
                            <option value="08">8</option>
                            <option value="09">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="13">1</option>
                            <option value="14">2</option>
                            <option value="15">3</option>
                        </select>

                        <select id='minuteItem' name='minuteItem'>
                            <option value="">--minuto--</option>
                            <option value="30">30</option>
                            <option value="00">00</option>
                        </select>
                        
                        <input type="button" class='addDate button' value='Añadir'>
                        
                        <h3>Fechas para Citas</h3>
                        <ul id='timeSlots'></ul>
                    </div>
                
                    <input type="submit" class="button">
            </form>
        </section>
    </main>
    <section>
        <h2>Created Reservations</h2>
        <h3>Unreserved Dates: <%= left %></h3>
        <table>
            <tr>
                <th>Name</th>
                <!-- <th>email</th> -->
                <!-- <th>location</th> -->
                <th>Subject</th>
                <th>Duration</th>
                <th>Link</th>
                <th>Status</th>
                <th>Resend</th>
                <th>Remove</th>
            </tr>
            <% reservations.forEach( (el) => { %>
            <tr>
                <td><%= el.name %></td>
                <!-- <td><%= el.email %></td> -->
                <!-- <td><%= el.location %></td> -->
                <td><%= el.subject %></td>
                <td><% if(el.duration <= 60){ %>
                    <%= el.duration %> min
                <% }else{ %>
                    <%= el.duration/60 %> hours
                <% } %>
                <td>
                    <a href='../setDates/selectTimeSlot/<%= el.linkId %>'>Link</a>
                </td>
                <td><% timeSlots.forEach( (ele) => { %>
                    <% if (ele.linkId === el.linkId) { %> 
                        <%= ele.selectedSlot ? 'Reserved' : 'Unreserved' %>
                    <% } %>   
                <% }) %>
                </td>
                <td data-id='<%= el.linkId %>'><a class='sendMail'>Send Email</a></td>
                <td data-id='<%= el.linkId %>'><a class='del'>Remove</a></td>
            </tr>
            <% }) %>
        </table>
    </section> 
    <script src="../js/main.js"></script>
</body>
</html>