<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <a href='/calendar' class='button'>calendar</a>
        <a href='/setdates' class='button'>set dates</a>
        <a href='/signup/logout' class='signout'>signout</a>
        <a href='/login/configure' class='button'>configure</a>
    </header>
   
    <main>
        <h1>Set Available Dates</h1>
        <section>
            <form action="/setDates/createTimeSlot" method='POST'>
                <fieldset>
                    <label for='nameItem'>Name of Client</label> <label for='emailItem'>Client Email</label>
                    <input type="text" placeholder="Name" id='nameItem' name='nameItem'>
                    <input type="text" placeholder="Email" id='emailItem' name='emailItem'>

                    <label for='subjectItem'>Topic of appointment</label> <label for='locationItem'>Location of appointment</label>
                    <input type="text" placeholder="Subject" id='subjectItem' name='subjectItem'> <input type="text" placeholder="Location" id='locationItem' name='locationItem'>
                    
                    <label for='durationItem'>Duration of appointment</label>
                    <input type="text" placeholder="duration" id='durationItem' name='durationItem'>
                    <select name='timeframeItem'>
                        <option value='minutes'>minutes</option>
                        <option value='hours'>hours</option>
                    </select>

                    <fieldset id='appointmentDates'>
                        <legend for='appointmentDates'>Available dates/time for appointment</legend>
                        <div>
                            <label for='dateItem'>Date</label>
                            <label for="timeItem">Time</label>
                        </div>
                        <input type="date" placeholder="Enter a Date" id='dateItem' name='dateItem'>
                        
                        <select id='hourItem' name='hourItem'>
                            <option value="">--hour--</option>
                            <option value="08">8</option>
                            <option value="09">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="13">1</option>
                            <option value="14">2</option>
                            <option value="15">3</option>
                        </select>
                        <select id='minuteItem' name='minuteItem'>
                            <option value="">--minute--</option>
                            <option value="30">30</option>
                            <option value="00">00</option>
                        </select>
                        
                        <input type="button" class='addDate' value='Add'>

                        <ul id='timeSlots'><li>Dates:</li></ul>
                    </fieldset>
                
                    <input type="submit">
                </fieldset>
            </form>
        </section>
        <section>
            <h2>Created Reservations</h2>
            <h3>Unreserved Dates: <%= left %></h3>
            <table>
                <tr>
                    <th>name</th>
                    <!-- <th>email</th> -->
                    <!-- <th>location</th> -->
                    <th>subject</th>
                    <th>duration</th>
                    <th>link</th>
                    <th>status</th>
                    <th>Resend</th>
                    <th>Remove</th>
                </tr>
                <% reservations.forEach( (el) => { %>
                <tr>
                    <td><%= el.name %></td>
                    <!-- <td><%= el.email %></td> -->
                    <!-- <td><%= el.location %></td> -->
                    <td><%= el.subject %></td>
                    <td><% if(el.duration <= 60){ %>
                        <%= el.duration %> min
                    <% }else{ %>
                       <%= el.duration/60 %> hours
                    <% } %>
                    <td>
                        <a href='../setDates/selectTimeSlot/<%= el.linkId %>'>Link</a>
                    </td>
                    <td><% timeSlots.forEach( (ele) => { %>
                        <% if (ele.linkId === el.linkId) { %> 
                            <%= ele.selectedSlot ? 'Reserved' : 'Unreserved' %>
                        <% } %>   
                    <% }) %>
                    </td>
                    <td data-id='<%= el.linkId %>'><a class='sendMail'>Send Email</a></td>
                    <td data-id='<%= el.linkId %>'><a class='del'>Remove</a></td>
                </tr>
                <% }) %>
            </table>
        </section>
    </main> 
    <script src="../js/main.js"></script>
</body>
</html>