<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservaciones</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <%- include('partials/navigationBar') %>
   
    <main class="reservationsList">
        <header class="bookHeaderContainer">
            <h1>Reservaciones</h1>
        </header>
        <div class="wrapper">
            <section class="tableMenu">
                <ul>
                    <li><button>Delete</button></li>
                    <li><button>Edit</button></li>
                    <li><button>Send</button></li>
                </ul>
            </section>
            <section>
                <h2>Unreserved Dates: <%= left %></h2>
                <table>
                    <tr>
                        <!-- <th></th> -->
                        <th>Name</th>
                        <!-- <th>email</th> -->
                        <!-- <th>location</th> -->
                        <th>Subject</th>
                        <th>Duration</th>
                        <th>Link</th>
                        <th>Status</th>
                        <th>Email</th>
                        <th>Remove</th>
                    </tr>
                    <% reservations.forEach( (el) => { %>
                    <tr>
                        <!-- <td><input type="checkbox" /></td> -->
                        <td><%= el.name %></td>
                        <!-- <td><%= el.email %></td> -->
                        <!-- <td><%= el.location %></td> -->
                        <td><%= el.subject %></td>
                        <td><% if(el.duration <= 60){ %>
                            <%= el.duration %> min
                        <% }else{ %>
                            <%= el.duration/60 %> hours
                        <% } %>
                        <td>
                            <a href='../setDates/selectTimeSlot/<%= el.linkId %>'>Link</a>
                        </td>
                        <td><% timeSlots.forEach( (ele) => { %>
                            <% if (ele.linkId === el.linkId) { %> 
                                <%= ele.selectedSlot ? 'Reserved' : 'Unreserved' %>
                            <% } %>   
                        <% }) %>
                        </td>
                        <td data-id='<%= el.linkId %>'><a class='sendMail'>Send</a></td>
                        <td data-id='<%= el.linkId %>'><a class='del'>Remove</a></td>
                    </tr>
                    <% }) %>
                </table>
            </section>
        </div>
    </main>
     
    <script src="../js/main.js"></script>
</body>
</html>