<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservaciones</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <%- include('partials/navigationBar') %>
   
    <main class="reservationsList">
        <header class="bookHeaderContainer">
            <h1>Reservaciones</h1>
        </header>

        <div class="wrapper">
            <section class="tableMenu">
                <ul>
                    <li><input id="delete" name="actionsMenu" type="radio" value="delete" /><label for="delete">Delete</label></li>
                    <li><input id="edit" name="actionsMenu" type="radio" value="edit" /><label for="edit">Edit</label></li>
                    <li><input id="send" name="actionsMenu" type="radio" value="send" /><label for="send">Send</label></li>
                </ul>
            </section>

            <section>
                <h2>Unreserved Dates: <%= left %></h2>
                <table>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <!-- <th>email</th> -->
                        <!-- <th>location</th> -->
                        <th>Subject</th>
                        <th>Duration</th>
                        <th>Link</th>
                        <th>Status</th>
                        <!-- <th>Email</th> -->
                        <!-- <th>Remove</th> -->
                         <th>Time Slots</th>
                    </tr>
                    <% reservations.forEach( (el) => { %>
                    <tr>
                        <td data-id='<%= el.linkId %>'><button class="option">&nbsp;</button></td>
                        <td><%= el.name %></td>
                        <!-- <td><%= el.email %></td> -->
                        <!-- <td><%= el.location %></td> -->
                        <td><%= el.subject %></td>
                        <td><% if(el.duration <= 60){ %>
                            <%= el.duration %> min
                        <% }else{ %>
                            <%= el.duration/60 %> hours
                        <% } %>
                        <td>
                            <a href='../setDates/selectTimeSlot/<%= el.linkId %>'>Link</a>
                        </td>
                        <td>
                            <% let currentReservationSlots = [] %>
                            <% timeSlots.forEach( (ele) => { %>
                                <% if (ele.linkId === el.linkId) { %> 
                                    <% if (ele.selectedSlot) { %>
                                        <% currentReservationSlots.push(ele.selectedSlot) %>
                                        <%= 'Reserved' %>
                                    <% } else { %>
                                        <% currentReservationSlots = ele.slotChoices %>
                                        <%= 'Unreserved' %>
                                    <% } %> 
                                <% } %>   
                            <% }) %>
                        </td>
                        <td>
                            <% currentReservationSlots.forEach( (ele) => { %>
                                <%= ele.toLocaleDateString("es-US", { day: "numeric"}) %>/<%= ele.toLocaleString('es-US', { month: 'short' }) %>/<%= ele.toLocaleString('es-US', { year: "numeric" }) %>
                                <%= ele.toLocaleTimeString([], { hour: "2-digit", minute: "2-digit" }) %> 
                                <br />
                            <% }) %>
                        </td>
                        <!-- <td data-id='<%= el.linkId %>'><a class='sendMail'>Send</a></td> -->
                        <!-- <td data-id='<%= el.linkId %>'><a class='del'>Remove</a></td> -->
                    </tr>
                    <% }) %>
                </table>
            </section>
        </div>
    </main>
     
    <script src="../js/main.js"></script>
</body>
</html>